# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore all non-custom themes/modules, and all libraries.
sites/*/modules/contrib
sites/*/themes/*
!sites/*/themes/himoldex
sites/*/libraries

# Ignore default text files
.htaccess
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/PATCHES.txt
/README.txt
/UPGRADE.txt
sites/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
sites/example.sites.php

# Ignore everything but the "sites" folder ( for non core developer )
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/scripts
/themes
